table, th, td {
 	border: 5px solid silver;
}



th:hover {
	background-color: red;
	color: blue;
		}
td:hover {
	background-color: green;
	
		}
	
	.font_1	{
		background-color: black;
		text-align: center;
		color: yellow;
		font-size: medium;
		font-family: "Papyrus", cursive;
	}
	.font_2	{
		background-color: darkblue;
		text-align: center;
		color: white;
		font-size: medium;
	}
	.tony_1	{
		text-align: center;
		text-emphasis: double-circle red;
		color: red;
		font-size: large;
		background-color: lightblue;
		